{% extends "base_generic_hero.html" %}

{% block hero_title %}All Donors{% endblock hero_title %}

{% block hero_text %}See the individuals contributing to the campaign.{% endblock hero_text %}

{% block content %}
  {% if object_list %}
  <ul>
    {% for object in object_list %}
      <div class="shadow p-3 mb-5 bg-white rounded" style="margin-left:5px; margin-right:5;margin-top:20px">
        <h4>Donor: <a href="{{object.get_absolute_url }}">{{ object.first_name }}, {{ object.last_name }}</a></h4>
        <h6>
          Total donations: ${% if object.total_donations %}{{ object.total_donations|floatformat:2 }}
        {% else %}0.00{% endif %}
        </h6>
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Donors in the database.</p>
  {% endif %}       
{% endblock %}